---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogTitle from "../components/BlogTitle.astro";
import BlogPost from "../components/BlogPost.astro";

import { getCollection } from "astro:content";
const blogs = await getCollection("blog");
console.log(blogs);
---

<BaseLayout title="Dinesh Adhithya's Blog">
    <div
        class="flex flex-col px-4 py-6 gap-6 max-w-4xl mx-auto sm:px-6 md:px-8 lg:px-12 xl:px-16"
    >
        <BlogTitle title="Dinesh Adhithya's Blog" />
        <hr class="border-gray-600" />
        <div class="flex flex-col gap-4">
            {blogs.map((blog) => <BlogPost blog={blog} />)}
        </div>
    </div>
</BaseLayout>
