---
import "../styles/global.css";
const { id, data } = Astro.props.blog;
---

<a href={`/posts/${id}`}>
    <div class="text-xl flex flex-col gap-2">
        <h2 class="leading-tight">
            {data.title}
        </h2>
        <p class="text-sm font-light text-gray-400">{data.date}</p>
    </div>
</a>
